.demo-grid-option { background-image: url(images/plugin.gif) !important; }
.demo-grid-add { background-image: url(images/add.gif) !important; }
.demo-grid-remove { background-image: url(images/delete.gif) !important; }