body {
    font-family:verdana,tahoma,arial,verdana,sans-serif;
    background-image: url('wallpapers/blue-swirl-border.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
input {
    font-size: 22px !important;
    padding: 3px !important;
    color: whitesmoke;
    line-height: normal !important;
    border: none !important;
    border-bottom: #5eb5e0 solid 2px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: whitesmoke;
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.2) inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="checkbox"] {
    /* Double-sized Checkboxes */
    transform: scale(1.5);         /* FF 16+, IE 10+ */
    -webkit-transform: scale(1.5); /* Chrome, Safari 3.5+, Opera 15+ */

    -ms-transform: scale(1.5);     /* legacy: IE 9+ */
    -moz-transform: scale(1.5);    /* legacy: FF 3.5+ */
    -o-transform: scale(1.5);      /* legacy: Opera 10.5 */
}
.x-btn button {
    font-size: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}