.demo-acc-connect { background-image: url(images/connect.png) !important; }
.demo-acc-user-add { background-image: url(images/user_add.png) !important; }
.demo-acc-user-delete { background-image: url(images/user_delete.png) !important; }